<ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/services'>Services</a></li>
    <li><a href='/products'>Products</a></li>
    <li><a href='/contact'>Contact</a></li>
    <li><a href='/aboutus'>Aboutus</a></li>
</ul>