<%- include('./partials/top') -%>
    <%- include('./partials/nav') -%>
   <h1>Products</h1>

   <!-- <% if(bg == 'bgRed') {%>
   <div style="height: 100px;width: 100px;" class="bgRed">
<%} else {%>
    <div style="height: 100px;width: 100px;" class="bgBlue">
        <%}%>
   </div> -->

   <div style="height: 100px;width: 100px;" class="<%= bg%>"></div>

   <a href="/item/346">Product A</a>
   <a href="/item/567">Product B</a>
   <a href="/item/998">Product C</a>
   
</body>
</html>